In [1]:
import numpy as np
import pandas as pd

In [4]:
ser = pd.Series(np.arange(1,100))

In [6]:
#ser.to_list()

In [9]:
ser2 = pd.Series(np.arange(100,300,2))

In [10]:
ser2+ser

0     101.0
1     104.0
2     107.0
3     110.0
4     113.0
      ...
95    386.0
96    389.0
97    392.0
98    395.0
99      NaN
Length: 100, dtype: float64

In [17]:
ser2.drop(99, inplace=True)

In [18]:
ser > ser2

0     False
1     False
2     False
3     False
4     False
      ...
94    False
95    False
96    False
97    False
98    False
Length: 99, dtype: bool

In [19]:
ser2 > ser

0     True
1     True
2     True
3     True
4     True
      ...
94    True
95    True
96    True
97    True
98    True
Length: 99, dtype: bool

In [20]:
ser == ser2

0     False
1     False
2     False
3     False
4     False
      ...
94    False
95    False
96    False
97    False
98    False
Length: 99, dtype: bool

In [21]:
pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [23]:
ser1 = pd.Series([0,100,200,'python',300.12,400])

In [27]:
df = pd.DataFrame([[0 ,1, 4, 7],[1, 2, 5, 5],
[2 ,3, 6, 8],
[3, 4, 9, 12],
[4, 7, 5, 1],
[5, 11, 0, 11]])

In [28]:
df.head()

   0  1  2   3
0  0  1  4   7
1  1  2  5   5
2  2  3  6   8
3  3  4  9  12
4  4  7  5   1

In [33]:
df[1]

0     1
1     2
2     3
3     4
4     7
5    11
Name: 1, dtype: int64